
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color:#0e0e0e ;
  max-width: 1000px;
  width: 45%;  
  height: 60%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 3px 5px rgb(45, 75, 75);
}

.grid{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 90%;
}

.card {
  position: relative;
  cursor: pointer;
  display: flex;
  margin: 10px;
  padding: 0px;
  border: 0.5px solid white;
  border-radius: 15px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
  transition-duration: .5s;
  transition-property: background-color;
}

.addOper{
  height: 110px;
  cursor: pointer;
  display: flex;
  margin: 10px;
  padding: 1.13rem;
  border: 0.5px solid white;
  border-radius: 15px;
  width: 45%;
  transition-duration: .5s;
  transition-property: background-color;
  background-color: azure;
  box-shadow: 0 0 7px rgb(238, 228, 97);
  transition: 0.2s linear;
}

.addOper:hover,
.addOper:focus,
.addOper:active {
  background-color: rgb(38, 39, 38);
}

.main h1{
margin-top:20px;
color: rgb(68, 65, 65);
filter: blure(2px);
font-size: 2.5rem;
text-align: center;
animation: textanimate 1.5s linear infinite;
}
@keyframes textanimate {
  0%, 100%
  {
    color:#fff;
    
    text-shadow: 
    0 0 10px #f4bf04,
    0 0 20px #f4bf04,
    0 0 40px #f4bf04,
    0 0 80px #f4bf04
  }
  50%,50%  
  {
    color:rgb(241, 235, 235);
    text-shadow: none;
  }
  
}
.main h2{
  
  text-align: center;
  color:#fff;
  text-shadow: 0 0 10px #f4bf04;
}





@media (max-width: 820px) {
  .main{ 
    margin: 20px;
    padding: 20px;
    width: 70%;
  }

  .grid {
    margin: 10px;
    width: 100%;
    flex-direction: column;
  }
  .main h1{
    margin-top:5px;
    font-size: 1.7rem;
    text-align: center;
    }

  .card,.addOper{
    width: 70%;
    margin: 5px;
  }
  .addOper{
    height: 80px;
  }
}

.addButton{
  width: 44px;
  margin: auto;
}